[preview]
max_width = 10000
max_hight = 10000

[mgr]
ratio = [1, 1, 4]


[opener]
edit = [
	{ run = 'nvim "$@"', block = true },
]
play = [
	{ run = 'mpv "$@"', orphan = true, for = "unix" },
]
open = [
	{ run = 'open "$@"', desc = "Open" },
]

[open]
prepend_rules = [
	{ name = "*.json", use = "edit" },

	# Multiple openers for a single rule
	{ name = "*.html", use = [ "open", "edit" ] },

	{ name = "*.mp4", use = "play" },
]
append_rules = [
	{ name = "*", use = "my-fallback" },
]
